[submodule "EverAPI"]
	path = EverAPI
	url = git@github.com:EverCraft/EverAPI.git
[submodule "EverChat"]
	path = EverChat
	url = git@github.com:EverCraft/EverChat.git
[submodule "EverEssentials"]
	path = EverEssentials
	url = git@github.com:EverCraft/EverEssentials.git
[submodule "EverEconomy"]
	path = EverEconomy
	url = git@github.com:EverCraft/EverEconomy.git
[submodule "EverMails"]
	path = EverMails
	url = git@github.com:EverCraft/EverMails.git
[submodule "EverPermissions"]
	path = EverPermissions
	url = git@github.com:EverCraft/EverPermissions.git
[submodule "EverPVP"]
	path = EverPVP
	url = git@github.com:EverCraft/EverPVP.git
[submodule "EverStats"]
	path = EverStats
	url = git@github.com:EverCraft/EverStats.git
[submodule "EverInformations"]
	path = EverInformations
	url = git@github.com:EverCraft/EverInformations.git
[submodule "EverCooldowns"]
	path = EverCooldowns
	url = git@github.com:EverCraft/EverCooldowns.git
[submodule "EverKits"]
	path = EverKits
	url = git@github.com:EverCraft/EverKits
[submodule "EverSigns"]
	path = EverSigns
	url = git@github.com:EverCraft/EverSigns
[submodule "EverSanctions"]
	path = EverSanctions
	url = git@github.com:EverCraft/EverSanctions
[submodule "EverWorldGuard"]
	path = EverWorldGuard
	url = git@github.com:EverCraft/EverWorldGuard
